<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="js/sidebar.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>Evoy - Device Manager</title>

</head>


<!--SIDEBAR---------------------------------------------->
<div id="mySidebar" class="sidebar">
    <a href="/index.ejs" alt="EvoyLogo"><div id='logoHeader'></div></a>
    <div id='margemMenu'></div>
    <div id='menuLateral'>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <ul>
            <li><a href="/index.ejs">Home</a></li>
            <li><a href="#">Devices</a></li>
            <li><a href="#">Entities</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>
</div>


<!--HEADER----------------------------------------------->
<header id='myHeader' class='header'>
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
</header>


<!--BODY----------------------------------------------->
<body onload="openNav()">

    <div class="content" id="main">      
 