<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href="css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href='css/reset.css'/>
    <link rel='stylesheet' type="text/css" href='css/style.css'>  
    
    <div id='faixa'>evoy.io HEADER</div>
    <div class="container">
      <div class="row">
        <div class="containerHeader">
          <div class="row">
            <div class="col-3">Logo</div>
            <div class="col-1">Espaço</div>
            <div class="col-2">Devs</div>
            <div class="col-1">Espaço</div>
            <div class="col-2">Status</div>
            <div class="col-1">Espaço</div>
            <div class="col-2">Grafico</div>
            <div class="w-100"></div>
          </div>
        </div>
      </div>
    </div>
  </head>

  <body>

