<header id='myHeader' class='header'>
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.



</header>
