<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
 
  </head>
  <link rel='stylesheet' type="text/css" href="css/bootstrap.min.css">
  <link rel='stylesheet' type="text/css" href='css/reset.css'/>
  <link rel='stylesheet' type="text/css" href='css/style.css'>  
  <body>
