<header id='myHeader' class='header'>

    <div>
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>

    <div id='devAtivos'>
        <div id='total'>6233</div>
        <div id='devs'>Devices</div>
    </div>

    <div id='status'>

        <div id='status1'>
            <div id='online'>
                <div id='ball'></div>
                <div id='quant'>5214</div>
                <div id='statusNome'>Online</div>
                <div id='quantPorcent'> (83.7%)</div>
            </div>

            <div id='pending'>
                <div id='ball'></div>
                <div id='quant'>418</div>
                <div id='statusNome'>Pending</div>
                <div id='quantPorcent'> (6.7%)</div>
            </div>
        </div>

        <div id='status2'>
            <div id='offline'>
                <div id='ball'></div>
                <div id='quant'>214</div>
                <div id='statusNome'>Offline</div>
                <div id='quantPorcent'> (3.4%)</div>
            </div>

            <div id='notActivated'>
                <div id='ball'></div>
                <div id='quant'>387</div>
                <div id='statusNome'>Not Activated</div>
                <div id='quantPorcent'> (6.2%)</div>
            </div>
        </div>

    </div>
</header>