<div id="mySidebar" class="sidebar">
    <a href="/index.ejs" alt="EvoyLogo"><div id='logoHeader'></div></a>
    <div id='margemMenu'></div>
    <div id='menuLateral'>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <ul>
            <li><a href="/index.ejs">Home</a></li>
            <li><a href="#">Devices</a></li>
            <li><a href="#">Entities</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>
</div>
