@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,700;0,900;1,500&display=swap');

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #ffffff;
	font-size: 14pt;
}

a {
  color: #00B7FF;
}


footer div{
	font-family: 'Fira Sans', sans-serif;
  background-color: #01358d ;
  color: white;
  height: 50px;
  width: 100%;
  text-align: right;
  font-size: 32pt;
  vertical-align: middle;
}


