@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,500;0,700;1,700&display=swap');

html{
    background: #e3e3e3;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: #e3e3e3;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0px;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

/* Header */
header {
    overflow: visible;  
    top:0;
    height: 170px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    background-color: #ffffff;
    transition: margin-left .3s;
    /* If you want a transition effect */

}


/* The sidebar menu */
.sidebar {
    font-family: 'Fira Sans', sans-serif;
    
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 0;
    /* Stay on top */
    top: 0px;
    left: 0;
    background-color: #ff55ff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */

    /* Place content 60px from the top */
    transition: 0.3s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar{
    background: #ffffff;
    height: 100hv;
    margin-right: 15px;
}


.sidebar #logoHeader {

    background-image: url('/images/avatar-evoy-fundoazul.png');
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    scale: auto;
    width: auto;
    height: 170px;
    display: block;
    top: 0;
    left: 0;
    
}

.sidebar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidebar li{
    color: #e24747;
    list-style-type: square;
    size: 40px;
}

.sidebar li:hover{
    color: #01358d;
    list-style-type: square;
    size: 40px;
}


/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #e24747;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 115px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 60px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #e24747;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.content {
    top: 0px;
    transition: margin-left .3s;
    /* If you want a transition effect */
    padding: 20px;
    background-color: #ffffff;
    height: 100%;
    margin-top: 8px
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}